<div class="flex items-center justify-between bg-orange-50 p-6 border-b border-[#5b3413] ">
  <div>
    <h1 class="text-3xl font-bold"></h1>
    <p class="text-sm text-black">Bienvenue dans l’espace administrateur</p>
  </div>

  <div class="flex items-center gap-6">
    <div class="relative">
      <input
        type="text"
        placeholder="Recherchez"
        class="border rounded-full px-4 py-1 text-sm"
      />
      <span class="material-icons absolute top-1 right-2 text-gray-400">search</span>
    </div>

    <!-- <div *ngIf="user as u" class="flex items-center gap-2"> -->
    <div class="flex items-center gap-2">
     <div>
        <p class="font-semibold">nom et prenom</p>
        <p class="text-xs text-gray-600">role</p> 
        <!-- <p class="font-semibold">{{ u.nom }} {{ u.prenom }}</p>
        <p class="text-xs text-gray-600">{{ u.role }}</p> -->
      </div>
      <div class="bg-orange-100 rounded-full p-2">
        <img class="w-8 h-8 rounded-full" src="https://tse4.mm.bing.net/th/id/OIP.ISjFqHGBODoczYZDutookAHaHa?r=0&rs=1&pid=ImgDetMain">
      </div>
      
    </div>
  </div>
</div>
