<!-- <div class="min-h-screen flex items-center justify-center bg-[#fef1e7]">
  <div class="border-2 border-blue-500 rounded-md w-[80%] flex bg-white shadow-xl p-10">

    <div class="w-1/2 flex flex-col items-center justify-center space-y-6">
      <img src="assets/logo-cap.png" alt="logo" class="w-40 h-40" />
      <h1 class="text-lg font-semibold text-center">Système de Gestion des Absences</h1>
    </div>


    <form  class="w-1/2 flex flex-col justify-center items-center">
      <img src="assets/logo-ism.png" alt="ISM" class="w-20 h-20 mb-2" />
      <h2 class="text-xl font-bold mb-5">Connexion</h2>

      <div class="mb-4 w-3/4">
        <label class="text-sm font-medium text-gray-700">Email ou Identifiant</label>
        <input
          formControlName="login"
          type="text"
          placeholder="email ou identifiant"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg w-full p-2.5"
          required
        />
        <div class="text-red-500 text-sm mt-1" *ngIf="formLogin.get('login')?.touched && formLogin.get('login')?.invalid">
          <span *ngIf="formLogin.get('login')?.errors?.['required']">Champ obligatoire</span>
          <span *ngIf="formLogin.get('login')?.errors?.['email']">Email invalide</span>
        </div>
      </div>

      <div class="mb-4 w-3/4 relative">
        <label class="text-sm font-medium text-gray-700">Mot de passe</label>
        <input
          formControlName="password"
          [type]="showPassword ? 'text' : 'password'"
          placeholder="••••••••"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg w-full p-2.5 pr-10"
          required
        />
        <span class="absolute right-3 top-8 cursor-pointer" (click)="togglePassword()">👁️</span>
        <div class="text-red-500 text-sm mt-1" *ngIf="formLogin.get('password')?.touched && formLogin.get('password')?.invalid">
          <span *ngIf="formLogin.get('password')?.errors?.['required']">Champ obligatoire</span>
          <span *ngIf="formLogin.get('password')?.errors?.['minlength']">Minimum 6 caractères</span>
        </div>
      </div>

      <button
        type="submit"
        [disabled]="formLogin.invalid || loading"
        class="bg-orange-500 hover:bg-orange-600 text-white px-6 py-2 rounded w-3/4 flex items-center justify-center mt-3"
      >
        <span *ngIf="loading" class="animate-spin mr-2">⏳</span>
        🔒 Se connecter
      </button>

      <p class="text-xs mt-2">Mot de passe oublié ? <a href="#" class="text-orange-500">Cliquez ici</a></p>
      <p class="text-red-600 text-sm mt-2" *ngIf="errorMessage">{{ errorMessage }}</p>
    </form>
  </div>
</div> -->
