<div class="container">
    <h2>Liste des utilisateurs</h2>
  
    <div *ngIf="erreur" class="erreur">
      {{ erreur }}
    </div>
  
    <ul *ngIf="utilisateurs.length > 0; else aucunUtilisateur">
      <li *ngFor="let u of utilisateurs">
        <strong>{{ u.nom }} {{ u.prenom }}</strong> - {{ u.role }}
        <span *ngIf="u.matricule"> (Matricule: {{ u.matricule }})</span>
      </li>
    </ul>
  
    <ng-template #aucunUtilisateur>
      <p>Aucun utilisateur trouvé.</p>
    </ng-template>
  </div>
  