<!-- <div class="max-w-6xl mx-auto mt-6 bg-white p-6 border border-orange-300 rounded shadow">
  <h2 class="text-xl font-bold text-orange-700 mb-4">Justification</h2>
  <p class="mb-6">Veuillez valider ou invalider la justification</p>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="grid grid-cols-2 gap-4 mb-6">
        <div style="background-color: #FFD4BB;" class="space-y-2 p-6 rounded shadow">
            <div><span class="font-bold">Nom:</span> Faye</div>
            <div><span class="font-bold">Prénom:</span> Daouda</div>
            <div><span class="font-bold">Classe:</span> L3CDSD</div>
        </div>

        
        <div style="background-color: #FFD4BB;" class="space-y-2 p-6 rounded shadow">
            <div>
            <span class="font-bold">Mail:</span>
            <span class="text-orange-700 px-2 py-1 rounded">daouda.faye1</span>
            </div>
            <div>
            <span class="font-bold">Matricule:</span>
            <span class="text-orange-700 px-2 py-1 rounded">Mat09462</span>
            </div>
            <div>
            <span class="font-bold">Motif:</span> Absence
            </div>
        </div>
        </div>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 items-start">
        <div>
            <textarea rows="6" class="w-full border border-gray-300 rounded p-2 mb-4">
        Je me suis cassé la jambe en m'entraînant...
            </textarea>

            <div class="flex gap-4">
            <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
                Valider
            </button>
            <button class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
                Invalider
            </button>
            </div>
        </div>

        <div class="flex justify-center md:justify-end -mt-2">
            <div class="text-center">
            <h3 class="font-bold mb-2">Document de justification:</h3>
            <img src="https://via.placeholder.com/200" alt="Image blessure" class="w-48">
            </div>
        </div>
        </div>
</div> -->
